.username {
  color: #fff;
  font-size: 16px;
  margin: 15px 0 15px 15px;
  cursor: pointer;
  &__text {
    margin-left: 10px;
  }
}
.container {
  padding: @global-padding;
  background: #fff;
  border-radius: 3px;
  &__h3 {
    margin-bottom: @global-margin;
  }
}
body {
}
