// sm	≥576px,
// md	≥768px,
// lg	≥992px,
// xl	≥1200px,
// xxl	≥1600px

ul{ margin: 0; padding: 0;}
li {list-style: none;}
a { color: @content-link-color; }
a.active{ color: @active-link-color; font-weight: 500;}
.humberger{
  float: right;
  margin-right: -10px;
  &-button {
    padding: 0 10px;
    &__icon {
      font-size: 20px;
    }
    
  }
}
.app-title{
  font-size: .9rem;
  font-weight: 500;
}
.header-container {
  max-width: @max-width;
  margin: 0 auto;
  padding: 0 @global-padding;
}
.main-container{
  max-width: @max-width;
  margin: 0 auto;
  padding: @global-padding;
}
// .right-contents
.right-contents{
  &__catch {
    margin-bottom: @global-margin;
  }
  background: #fff;
  margin-left: @global-margin;
  &-section {
    margin-bottom: @global-margin;
    &__title {
      font-weight: 600;
      font-size: .9rem;
      margin-bottom: @global-margin / 4;
    }
  }
  &-about-me {
    &__avatar {
      margin-bottom: @global-margin / 4;
      & h3 {
        font-weight: normal;
        line-height: 3.5;
      }
    }
    & p {
      font-size: .8rem;
    }
  }
  &-list{
    margin-top: -5px;
    &__item {
      border-bottom: 1px dashed #eee;
      padding: 5px 0;
    }

  }
}

.page-resutls {
  list-style: none;
  padding: 0;
  width: 100%;
  clear: both;
  margin-bottom: @global-margin;
  li {
    text-indent: 0;
    margin-right: 10px;
    padding: 0;
    display: inline-block;
    font-size: .8rem;
  }
}

h3.list-title{
  margin-bottom: 0;
  font-size: @title-font-size;
}

h3.page-title {
  font-size: @title-font-size;
  margin-bottom: @global-margin;
}

// markdown
.markdown-content {
  font-size: .9rem;
  line-height: 1.8rem;
  color: #333;
  p {
    margin-bottom: 1.8rem;
  }
}
// footer
.footer {
  
}
.footer-container {
  max-width: @max-width;
  margin: 0 auto;
  padding: @global-padding / 2 0;
  margin: 0 @global-margin / 2;
  text-align: center;
  border-top: 1px dashed #ddd;
  font-size: .8rem;
  color: #888;
}

// tablet
// @media screen and (max-width: 1000px) {
//   .right-contents{
//     margin-left: 0;
//   }
// }
// sm
@media screen and (max-width: @break-point) {
  .ant-card-body {
    padding: 10px;
  }
  .header-container {
    padding: 0 @global-padding / 3;
  }
  .main-container {
    padding: @global-padding / 3;
  }
  .footer-container {
    margin: 0 @global-margin / 3;
  }
  .right-contents{
    margin-left: 0;
  }
}