// sm	≥576px,
// md	≥768px,
// lg	≥992px,
// xl	≥1200px,
// xxl	≥1600px
@global-margin: 60px;
@global-padding: 60px;
@break-point: 600px;
@max-width: 1180px;
@content-link-color: #777;
@active-link-color:#000;
@title-font-size: 1.3rem;