// sm	≥576px,
// md	≥768px,
// lg	≥992px,
// xl	≥1200px,
// xxl	≥1600px

@global-margin: 60px;
@global-padding: 60px;
@sm-break-point: 576px; // antd sm
@lg-break-point: 992px;
@max-width: 1280px;
@primary-color: #444;
@primary-text-color: @primary-color;
@content-link-color: #777;
@link-color: #0768d7;
@active-link-color: @primary-color;
@title-font-size: 1.4rem;
@alert-text-color: #ff4d4f;
