@import '../variable.less';
@import './postCommon.less';

//////////////
// postDetail
//////////////

.post-detail {
  &__cover {
    margin-bottom: @global-margin / 2;
    border-radius: 4px;
  }
  &__title {
    font-size: 1.6rem;
  }
  .entry-date {
    margin-bottom: @global-margin;
  }
}