@import '../variable.less';
@import './postCommon.less';

//////////////
// postDetail
//////////////

.post-detail {
  &__cover {
    margin-bottom: @global-margin / 2;
    border-radius: 4px;
  }
  &__title {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .entry-date {
    margin-bottom: @global-margin / 2;
    &__item:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}