@import '../variable.less';
@import './postCommon.less';
@import '../../markdown.less';

//////////////
// postDetail
//////////////

.post-detail {
  margin-bottom: @global-margin / 2;
  &__cover {
    margin-bottom: @global-margin / 2;
    border-radius: 4px;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    color: @primary-text-color;
  }
  .entry-data {
    margin-bottom: @global-margin / 2;
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: @sm-break-point) {
  .post-detail {
    &__cover {
      width: 80px;
    }
  }
}
