@import './main/variable.less';

.markdown-content {
  h1 {
    padding: 15px;
    background: rgba(@primary-color, 0.05);
    border-radius: 5px;
    font-size: 1.1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: @global-margin;
  }
  font-size: 0.9rem;
  line-height: 1.8rem;
  color: #333;
  a {
    word-break: break-all;
    color: @link-color;
  }
  a:hover {
    text-decoration: underline;
  }
  blockquote {
    position: relative;
    max-width: 95%;
    padding: 30px 15px 15px 15px;
    border-left: 0.4em solid;
    border-color: rgba(@primary-color, 0.1);
    margin-bottom: @global-margin;
    // margin-bottom: @global-margin;
    p {
      margin-bottom: 0px;
    }
    &:before {
      font-family: 'Sanchez', serif;
      font-size: 4rem;
      line-height: 1rem;
      color: rgba(@primary-color, 0.2);
      content: '\201C';
      position: absolute;
      top: 13px;
      left: 10px;
    }
  }
  p {
    margin-bottom: 1.8rem;
  }
  ul {
    margin-bottom: @global-margin;
  }
  li {
    list-style: disc;
    margin-left: 20px;
  }
  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  .markdown-image {
    margin-bottom: @global-margin;
  }
  table + h1 {
    margin-top: @global-margin;
  }
  table {
    border-collapse: collapse;
    margin-bottom: @global-margin / 3;
    th {
      background: rgba(@primary-color, 0.03);
    }
    th,
    td {
      border: 1px solid #eee;
      padding: 10px;
    }
  }

  p,
  pre {
    margin-bottom: @global-margin;
  }
  .table-of-contents {
    background-color: rgba(@primary-color, 0.05);
    padding: @global-padding / 2;
    border-radius: 5px;
    &-title {
      font-size: 0.9rem;
    }
    ul {
      margin-bottom: 0;
    }
  }
}

.right-contents-section .markdown-content {
  p,
  pre {
    margin-bottom: @global-margin / 4;
  }
}
